
.container {
    height: 100vh;
    display: grid;
  }

.MenuBar {
    height: 4.1rem;
}

.MenuBar legend{
    font-family: 'Get Schwifty', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}


@font-face {
    font-family: 'Get Schwifty';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
  }
  